.totalContainer {

}

#divMenuLateral {

}

#divCategorias {

}

#divContenido {

}

#nuevaPublicacion {
    padding: 10px;
    margin: auto;
}

.noVisible {
    visibility: hidden;
}

#divContenidoCompleto {

}

.preguntas {
    padding: 15px 0;
}

.preguntar {
    padding: 10px 10px 10px 0px;
}

h1 {
    font-family: "Verdana";
    font-size: 1.875em;
}

h2 {
    font-family: "Verdana";
    font-size: 1.4em;
}

.img-producto {
    float:  left;
    margin: 10px;
}

.divProducto {
    clear: both;
}

#carouselExampleIndicators {
    width: 400px;
    margin: auto;
    min-height: 400px;
}

.aspect-ratio {
    display: block;
    max-width: 100%;
    max-height: 80px;
    width: auto;
    height: auto;
}


